<h1>Tamagotchi Details: </h1>

<h2>@Model.Name</h2>

  <a href='/pets/new'><button class="btn btn-info">Get another pet</button></a> <br /><br />
  <a href='/pets'><button class="btn btn-primary">View all pets</button></a><br /><br />